* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;

    font-family: "Times New Roman", Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#profile {
    height: 100%;
    width: 100%;
}

#profile-form {
    float: left;
    height: 100%;
    width: calc(100% - 40%);
    margin: 20px;
    padding-left: 25%;
}

.required {
    color: red;
}

.prf-field {
    margin-top: 20px
}

#image-displayer {
    float: right;
    height: 100%;
    width: 40%;
}

.img {
    height: 152px;
    width: 229px;
    margin-top: 10%;
}
